<section class="pageTitle" style="background-image: url(<%= asset_path 'books-reading-library.png' %>);">


<h1 class="welcome" id="title">Welcome to BookBuddy!</h1>

<p class="welcomeMessage">BookBuddy is a global community of book lovers. It is the perfect place to find inspiration for your next reading, connect with like-minded people and exchange ideas. Yes, we know what you are thinking, welcome home baby!</p>

<h2 class="welcomelinks"><%= link_to "Sign up here!", signup_path %> or <%= link_to "Log in here!", login_path %></h2>
<!-- <h2 class="welcome"><%= link_to "Log in here!", login_path %></h2> -->
