<div class="allUsers">
<h2>Here's a list of people we think you might know</h2>

<ul>
  <% @users.each do |user| %>
    <p class="userEach"><%= link_to user.name, user %></p>
  <% end %>
</ul>
</div>
