<div class="search_books">
  <h1>Search for books!</h1>

  <h3>Enter a title, author or search term:</h3>

  <div class="SearchBar">
    <%= form_tag search_book_path, method: 'post' do %>
      <%= text_field_tag(:search, params[:search]) %><br>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<!-- <ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul> -->

<!-- pick a random book -->
