<h1>Search for books!</h1>

<h3>Enter a title, author or search term:</h3>
<%= form_tag search_book_path_url, method: 'post' do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag "Search" %>
<% end %>

<!-- <ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul> -->

<!-- pick a random book -->
